{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://mobile.amazonaws.com/"
        },
        {
            "url": "http://mobile.amazonaws.com/"
        }
    ],
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": " AWS Mobile Service provides mobile app and website developers with capabilities required to configure AWS resources and bootstrap their developer desktop projects with the necessary SDKs, constants, tools and samples to make use of those resources. ",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS Mobile",
        "version": "2017-07-01",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/mobile-2017-07-01.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "mobile"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://docs.aws.amazon.com/mobile/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/bundles": {
            "get": {
                "description": " List all available bundles. ",
                "operationId": "ListBundles",
                "parameters": [
                    {
                        "description": "Pagination limit",
                        "in": "query",
                        "name": "maxResults",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination token",
                        "in": "query",
                        "name": "nextToken",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " Result structure contains a list of all available bundles with details. ",
                                    "properties": {
                                        "bundleList": {
                                            "description": " A list of bundles. ",
                                            "items": {
                                                "description": " The details of the bundle. ",
                                                "properties": {
                                                    "availablePlatforms": {
                                                        "description": " Developer desktop or mobile app or website platforms. ",
                                                        "items": {
                                                            "description": " Developer desktop or target mobile app or website platform. ",
                                                            "enum": [
                                                                "OSX",
                                                                "WINDOWS",
                                                                "LINUX",
                                                                "OBJC",
                                                                "SWIFT",
                                                                "ANDROID",
                                                                "JAVASCRIPT"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "bundleId": {
                                                        "description": " Unique bundle identifier. ",
                                                        "type": "string"
                                                    },
                                                    "description": {
                                                        "description": " Description of the download bundle. ",
                                                        "type": "string"
                                                    },
                                                    "iconUrl": {
                                                        "description": " Icon for the download bundle. ",
                                                        "type": "string"
                                                    },
                                                    "title": {
                                                        "description": " Title of the download bundle. ",
                                                        "type": "string"
                                                    },
                                                    "version": {
                                                        "description": " Version of the download bundle. ",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "nextToken": {
                                            "description": " Pagination token. If non-null pagination token is returned in a result, then pass its value in another request to fetch more entries. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " The service has encountered an unexpected error condition which prevents it from servicing the request. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " The service is temporarily unavailable. The request should be retried after some time delay. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "UnauthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " Credentials of the caller are insufficient to authorize the request. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " Too many requests have been received for this AWS account in too short a time. The request should be retried after some time delay. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "484": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " The request cannot be processed because some parameter is not valid or the project state prevents the operation from being performed. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": " Request structure to request all available bundles. ",
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/bundles/{bundleId}": {
            "get": {
                "description": " Get the bundle details for the requested bundle id. ",
                "operationId": "DescribeBundle",
                "parameters": [
                    {
                        "in": "path",
                        "name": "bundleId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " Result structure contains the details of the bundle. ",
                                    "properties": {
                                        "details": {
                                            "description": " The details of the bundle. ",
                                            "properties": {
                                                "availablePlatforms": {
                                                    "description": " Developer desktop or mobile app or website platforms. ",
                                                    "items": {
                                                        "description": " Developer desktop or target mobile app or website platform. ",
                                                        "enum": [
                                                            "OSX",
                                                            "WINDOWS",
                                                            "LINUX",
                                                            "OBJC",
                                                            "SWIFT",
                                                            "ANDROID",
                                                            "JAVASCRIPT"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "bundleId": {
                                                    "description": " Unique bundle identifier. ",
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "description": " Description of the download bundle. ",
                                                    "type": "string"
                                                },
                                                "iconUrl": {
                                                    "description": " Icon for the download bundle. ",
                                                    "type": "string"
                                                },
                                                "title": {
                                                    "description": " Title of the download bundle. ",
                                                    "type": "string"
                                                },
                                                "version": {
                                                    "description": " Version of the download bundle. ",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " The service has encountered an unexpected error condition which prevents it from servicing the request. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " The service is temporarily unavailable. The request should be retried after some time delay. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "UnauthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " Credentials of the caller are insufficient to authorize the request. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " Too many requests have been received for this AWS account in too short a time. The request should be retried after some time delay. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "484": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " The request cannot be processed because some parameter is not valid or the project state prevents the operation from being performed. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "485": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " No entity can be found with the specified identifier. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": " Request structure to request the details of a specific bundle. ",
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": " Generates customized software development kit (SDK) and or tool packages used to integrate mobile web or mobile app clients with backend AWS resources. ",
                "operationId": "ExportBundle",
                "parameters": [
                    {
                        "in": "path",
                        "name": "bundleId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " Result structure which contains link to download custom-generated SDK and tool packages used to integrate mobile web or app clients with backed AWS resources. ",
                                    "properties": {
                                        "downloadUrl": {
                                            "description": " URL which contains the custom-generated SDK and tool packages used to integrate the client mobile app or web app with the AWS resources created by the AWS Mobile Hub project. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " The service has encountered an unexpected error condition which prevents it from servicing the request. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " The service is temporarily unavailable. The request should be retried after some time delay. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "UnauthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " Credentials of the caller are insufficient to authorize the request. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " Too many requests have been received for this AWS account in too short a time. The request should be retried after some time delay. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "484": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " The request cannot be processed because some parameter is not valid or the project state prevents the operation from being performed. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "485": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " No entity can be found with the specified identifier. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": " Request structure used to request generation of custom SDK and tool packages required to integrate mobile web or app clients with backed AWS resources. ",
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/exports/{projectId}": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": " Exports project configuration to a snapshot which can be downloaded and shared. Note that mobile app push credentials are encrypted in exported projects, so they can only be shared successfully within the same AWS account. ",
                "operationId": "ExportProject",
                "parameters": [
                    {
                        "in": "path",
                        "name": "projectId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " Result structure used for requests to export project configuration details. ",
                                    "properties": {
                                        "downloadUrl": {
                                            "description": " URL which can be used to download the exported project configuation file(s). ",
                                            "type": "string"
                                        },
                                        "shareUrl": {
                                            "description": " URL which can be shared to allow other AWS users to create their own project in AWS Mobile Hub with the same configuration as the specified project. This URL pertains to a snapshot in time of the project configuration that is created when this API is called. If you want to share additional changes to your project configuration, then you will need to create and share a new snapshot by calling this method again. ",
                                            "type": "string"
                                        },
                                        "snapshotId": {
                                            "description": " Unique identifier for the exported snapshot of the project configuration. This snapshot identifier is included in the share URL. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " The service has encountered an unexpected error condition which prevents it from servicing the request. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " The service is temporarily unavailable. The request should be retried after some time delay. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "UnauthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " Credentials of the caller are insufficient to authorize the request. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " Too many requests have been received for this AWS account in too short a time. The request should be retried after some time delay. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "484": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " The request cannot be processed because some parameter is not valid or the project state prevents the operation from being performed. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "485": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " No entity can be found with the specified identifier. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": " Request structure used in requests to export project configuration details. ",
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/project": {
            "get": {
                "description": " Gets details about a project in AWS Mobile Hub. ",
                "operationId": "DescribeProject",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " Result structure used for requests of project details. ",
                                    "properties": {
                                        "details": {
                                            "description": " Detailed information about an AWS Mobile Hub project. ",
                                            "properties": {
                                                "consoleUrl": {
                                                    "description": " Website URL for this project in the AWS Mobile Hub console. ",
                                                    "type": "string"
                                                },
                                                "createdDate": {
                                                    "description": " Date the project was created. ",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "lastUpdatedDate": {
                                                    "description": " Date of the last modification of the project. ",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": " Name of the project. ",
                                                    "type": "string"
                                                },
                                                "projectId": {
                                                    "description": " Unique project identifier. ",
                                                    "type": "string"
                                                },
                                                "region": {
                                                    "description": " Default region to use for AWS resource creation in the AWS Mobile Hub project. ",
                                                    "type": "string"
                                                },
                                                "resources": {
                                                    "description": " List of AWS resources associated with a project. ",
                                                    "items": {
                                                        "description": " Information about an instance of an AWS resource associated with a project. ",
                                                        "properties": {
                                                            "arn": {
                                                                "description": " AWS resource name which uniquely identifies the resource in AWS systems. ",
                                                                "type": "string"
                                                            },
                                                            "attributes": {
                                                                "description": " Key-value attribute pairs. ",
                                                                "items": {
                                                                    "properties": {
                                                                        "key": {
                                                                            "description": " Key part of key-value attribute pairs. ",
                                                                            "type": "string"
                                                                        },
                                                                        "value": {
                                                                            "description": " Value part of key-value attribute pairs. ",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "feature": {
                                                                "description": " Identifies which feature in AWS Mobile Hub is associated with this AWS resource. ",
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": " Name of the AWS resource (e.g., for an Amazon S3 bucket this is the name of the bucket). ",
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "description": " Simplified name for type of AWS resource (e.g., bucket is an Amazon S3 bucket). ",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "state": {
                                                    "description": " Synchronization state for a project. ",
                                                    "enum": [
                                                        "NORMAL",
                                                        "SYNCING",
                                                        "IMPORTING"
                                                    ],
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " The service has encountered an unexpected error condition which prevents it from servicing the request. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " The service is temporarily unavailable. The request should be retried after some time delay. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "UnauthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " Credentials of the caller are insufficient to authorize the request. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " Too many requests have been received for this AWS account in too short a time. The request should be retried after some time delay. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "484": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " The request cannot be processed because some parameter is not valid or the project state prevents the operation from being performed. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "485": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " No entity can be found with the specified identifier. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": " Request structure used to request details about a project. ",
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/projects": {
            "get": {
                "description": " Lists projects in AWS Mobile Hub. ",
                "operationId": "ListProjects",
                "parameters": [
                    {
                        "description": "Pagination limit",
                        "in": "query",
                        "name": "maxResults",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination token",
                        "in": "query",
                        "name": "nextToken",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " Result structure used for requests to list projects in AWS Mobile Hub. ",
                                    "properties": {
                                        "nextToken": {
                                            "description": " Pagination token. Set to null to start listing records from start. If non-null pagination token is returned in a result, then pass its value in here in another request to list more entries. ",
                                            "type": "string"
                                        },
                                        "projects": {
                                            "description": " List of projects. ",
                                            "items": {
                                                "description": " Summary information about an AWS Mobile Hub project. ",
                                                "properties": {
                                                    "name": {
                                                        "description": " Name of the project. ",
                                                        "type": "string"
                                                    },
                                                    "projectId": {
                                                        "description": " Unique project identifier. ",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " The service has encountered an unexpected error condition which prevents it from servicing the request. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " The service is temporarily unavailable. The request should be retried after some time delay. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "UnauthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " Credentials of the caller are insufficient to authorize the request. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " Too many requests have been received for this AWS account in too short a time. The request should be retried after some time delay. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "484": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " The request cannot be processed because some parameter is not valid or the project state prevents the operation from being performed. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": " Request structure used to request projects list in AWS Mobile Hub. ",
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": " Creates an AWS Mobile Hub project. ",
                "operationId": "CreateProject",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " Result structure used in response to a request to create a project. ",
                                    "properties": {
                                        "details": {
                                            "description": " Detailed information about the created AWS Mobile Hub project. ",
                                            "properties": {
                                                "consoleUrl": {
                                                    "description": " Website URL for this project in the AWS Mobile Hub console. ",
                                                    "type": "string"
                                                },
                                                "createdDate": {
                                                    "description": " Date the project was created. ",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "lastUpdatedDate": {
                                                    "description": " Date of the last modification of the project. ",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": " Name of the project. ",
                                                    "type": "string"
                                                },
                                                "projectId": {
                                                    "description": " Unique project identifier. ",
                                                    "type": "string"
                                                },
                                                "region": {
                                                    "description": " Default region to use for AWS resource creation in the AWS Mobile Hub project. ",
                                                    "type": "string"
                                                },
                                                "resources": {
                                                    "description": " List of AWS resources associated with a project. ",
                                                    "items": {
                                                        "description": " Information about an instance of an AWS resource associated with a project. ",
                                                        "properties": {
                                                            "arn": {
                                                                "description": " AWS resource name which uniquely identifies the resource in AWS systems. ",
                                                                "type": "string"
                                                            },
                                                            "attributes": {
                                                                "description": " Key-value attribute pairs. ",
                                                                "items": {
                                                                    "properties": {
                                                                        "key": {
                                                                            "description": " Key part of key-value attribute pairs. ",
                                                                            "type": "string"
                                                                        },
                                                                        "value": {
                                                                            "description": " Value part of key-value attribute pairs. ",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "feature": {
                                                                "description": " Identifies which feature in AWS Mobile Hub is associated with this AWS resource. ",
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": " Name of the AWS resource (e.g., for an Amazon S3 bucket this is the name of the bucket). ",
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "description": " Simplified name for type of AWS resource (e.g., bucket is an Amazon S3 bucket). ",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "state": {
                                                    "description": " Synchronization state for a project. ",
                                                    "enum": [
                                                        "NORMAL",
                                                        "SYNCING",
                                                        "IMPORTING"
                                                    ],
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " The service has encountered an unexpected error condition which prevents it from servicing the request. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " The service is temporarily unavailable. The request should be retried after some time delay. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "UnauthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " Credentials of the caller are insufficient to authorize the request. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " Too many requests have been received for this AWS account in too short a time. The request should be retried after some time delay. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "484": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " The request cannot be processed because some parameter is not valid or the project state prevents the operation from being performed. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "485": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " No entity can be found with the specified identifier. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "486": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " There are too many AWS Mobile Hub projects in the account or the account has exceeded the maximum number of resources in some AWS service. You should create another sub-account using AWS Organizations or remove some resources and retry your request. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": " Request structure used to request a project be created. ",
                                "properties": {
                                    "contents": {
                                        "description": " ZIP or YAML file which contains configuration settings to be used when creating the project. This may be the contents of the file downloaded from the URL provided in an export project operation. ",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/projects/{projectId}": {
            "delete": {
                "description": " Delets a project in AWS Mobile Hub. ",
                "operationId": "DeleteProject",
                "parameters": [
                    {
                        "in": "path",
                        "name": "projectId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " Result structure used in response to request to delete a project. ",
                                    "properties": {
                                        "deletedResources": {
                                            "description": " Resources which were deleted. ",
                                            "items": {
                                                "description": " Information about an instance of an AWS resource associated with a project. ",
                                                "properties": {
                                                    "arn": {
                                                        "description": " AWS resource name which uniquely identifies the resource in AWS systems. ",
                                                        "type": "string"
                                                    },
                                                    "attributes": {
                                                        "description": " Key-value attribute pairs. ",
                                                        "items": {
                                                            "properties": {
                                                                "key": {
                                                                    "description": " Key part of key-value attribute pairs. ",
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "description": " Value part of key-value attribute pairs. ",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "feature": {
                                                        "description": " Identifies which feature in AWS Mobile Hub is associated with this AWS resource. ",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": " Name of the AWS resource (e.g., for an Amazon S3 bucket this is the name of the bucket). ",
                                                        "type": "string"
                                                    },
                                                    "type": {
                                                        "description": " Simplified name for type of AWS resource (e.g., bucket is an Amazon S3 bucket). ",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "orphanedResources": {
                                            "description": " Resources which were not deleted, due to a risk of losing potentially important data or files. ",
                                            "items": {
                                                "description": " Information about an instance of an AWS resource associated with a project. ",
                                                "properties": {
                                                    "arn": {
                                                        "description": " AWS resource name which uniquely identifies the resource in AWS systems. ",
                                                        "type": "string"
                                                    },
                                                    "attributes": {
                                                        "description": " Key-value attribute pairs. ",
                                                        "items": {
                                                            "properties": {
                                                                "key": {
                                                                    "description": " Key part of key-value attribute pairs. ",
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "description": " Value part of key-value attribute pairs. ",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "feature": {
                                                        "description": " Identifies which feature in AWS Mobile Hub is associated with this AWS resource. ",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": " Name of the AWS resource (e.g., for an Amazon S3 bucket this is the name of the bucket). ",
                                                        "type": "string"
                                                    },
                                                    "type": {
                                                        "description": " Simplified name for type of AWS resource (e.g., bucket is an Amazon S3 bucket). ",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " The service has encountered an unexpected error condition which prevents it from servicing the request. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " The service is temporarily unavailable. The request should be retried after some time delay. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "UnauthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " Credentials of the caller are insufficient to authorize the request. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " Too many requests have been received for this AWS account in too short a time. The request should be retried after some time delay. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "484": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " No entity can be found with the specified identifier. ",
                                    "properties": {
                                        "message": {
                                            "description": " The Exception Error Message. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": " Request structure used to request a project be deleted. ",
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
[...]
